<div class="main">

  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
  <div class="card">
    <div>
      <img src="https://media.cotabest.com.br/media/sku/biscoito-doce-sortidos-pacote-400g-fortaleza-pct.jpg" alt="">
    </div>

    <div>
      <h1>
        Biscoito Doce Sortidos pacote 400g - Fortaleza
      </h1>

      <div class="details">
        <div class="column-1">
          <div class="item">
            <p>Categoria:</p>
            <p>Biscoito de arroz</p>
          </div>
          <div class="item">
            <p>Descrição:</p>
            <p>Biscoito doce</p>
          </div>
          <div class="item">
            <p>Tipo:</p>
            <p>Sortidos</p>
          </div>
        </div>
        <div class="column-2">
          <div class="item">
            <p>Marca:</p>
            <p>Fortaleza</p>
          </div>
          <div class="item">
            <p>Embalagem:</p>
            <p>Pacote</p>
          </div>
          <div class="item">
            <p>Peso/Quantidade:</p>
            <p>PCT/10UN</p>
          </div>
          <button class="btn">Ir para WhatsApp</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!--  -->
