section {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 2rem;
  }
}

#marksImage {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 2rem;
}
