<section>
  <article id="addrss">
    <address>
    <h2>
        Nossa sede está localizada na Av. Cicero Ferreira do Nascimento - Ocara, CE, 62755-000
      </h2>
    </address>
  </article>
  <article id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19494.324962290917!2d-38.60699036467181!3d-4.487344255848452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b92a6cf25018c1%3A0xee566d7d9b9b3914!2sJurema%20Atacados!5e1!3m2!1spt-BR!2sbr!4v1673928877494!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </article>
</section>
