section {
  margin-top: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr;

   article {
     display: flex;
     align-items: center;
     justify-content: center;
     address {
      display: flex;
      align-items: center;
      justify-content: center;
      h2 {
        width: 50%;
        font-size: 2rem;
      }
    }
    }
}
