section {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200rem;
    width: 90%;
    margin: 0 5%;

    img {
      margin-top: 5rem;
      width: 100%;
    }
  }
}
